@charset "UTF-8";


@media only screen and (max-device-width: 900px) {
	.menu { 
		width:100%;
		
	}
	ul {
		margin-bottom: 100px;
	
	}
	
	ul li {
		padding-right: 15px;
	}
	.amor {
		max-width: 100%;
		margin-left: 24%;
			
	}
	.perfeicao {
		max-width: 100%;
		margin-top: 30%;
		margin-left: -61%;
	}
	.text-perfeicao {
		width: 240px;
		height: 50px;
		background: #202020;
		border: 5px;
		margin-top: -25px;
		position: relative;
		margin-right:-14.4%;
	
		
	}
}

body {
	font-family: Georgia, serif;
	font-weight: bold;
	background: #ffffff;
	
}

.container {	
	max-width: 1100px;
	margin: 0 auto;   
}



#home {
	max-width: 1100px;
	margin: 0 auto;
	background-color: #202020;
	position: relative;

}

.menu {
	max-width: 100%;
	position: relative;
	height: relative;
}

.menu h1 {
	color: #ffffff;
	font-size: 3em;
	padding-top: 3px;
	margin-left: 180px;
	padding-bottom: 3px;
	font-family: Georgia;
	font-weight: bold;
	

		
}

ul {
	position: absolute;
	left: 700px;
	top: 25px;
	margin-bottom: 100px;

}

ul li {
	display: inline-block;
	padding-right: 15px;
}

ul li a {
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
	font-size: 1.10em;
}

ul li a:hover{
	left: 0;
	border-bottom: solid 2px #ffffff;
	transition: 0.4s;
}
/*ul li a:hover::after{
	left: 0;
	border-bottom: solid 2px #ffffff;
	
}*/

.slider {
	background-image: url("../images/bg-intro.jpg");
	height: 400px;
	max-width: 1100px;
}

.slider h2 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 3em;
	text-align: center;
	padding-top: 150px;
	font-family: Georgia;
	display: block;
}

.slider h3 {
	color: #ffffff;
	font-size: 1.125em;
	text-align: center;
	margin-top: 10px;
	font-family: Georgia;
	font-weight: lighter;
	font-style: italic;
}

.slider .retangulo {
	width: 25px;
	height: 14px;
	color: #ffffff;
	margin: 0 auto;
	border-bottom: solid 5px #ffffff;

}

#amor-perfeicao {
	max-width: 1100px;
	margin: 0 auto;
	background: #ffffff;

}

#amor-perfeicao h2 {
	text-align: center;
	padding-top: 70px;
	font-size: 2.25em;
}


#amor-perfeicao .imagens {
	max-width: 80%;
	display: inline-flex;
	margin: 7.5%;
}

.imagens .amor {
	padding-right: 10px;

}

.text-amor {
	width: 240px;
	height: 50px;
	background: #202020;
	border: 5px;
	margin-top: -25px;
	position: absolute; 
	font-weight: lighter;
	font-style: italic;


}
.text-amor h3 {
	color: #ffffff;
	text-align: left;
	font-size: 2.5em;
	margin: 0px 70px 60px 70px;
	font-weight: lighter;
}

.imagens .perfeicao {
	float: left;
	padding-left: 10px;
}

.text-perfeicao {
	float: right;
	width: 240px;
	height: 50px;
	background: #202020;
	border: 5px;
	margin-top: -25px;
	position: relative;
	right: 220px;
	

	
}

.text-perfeicao h3 {
	color: #ffffff;
	text-align: left;
	margin: 3.5px 5px 60px 45px;
	font-weight: lighter;
	font-style: italic;
	font-size: 2.5em;
}

#amor-perfeicao .coffee {
	max-width: 50%;
	margin: 0 auto 0 auto;
	padding-bottom: 50px;
	

}

.coffee p {
	text-align: center;
	font-weight: lighter;
	font-style: italic;



}

#sabores {
	background: #e9e5d9;
	height: 500px;
	padding: 10px;
	border-top: solid 5px #d6d3c8;
	border-bottom: solid 5px #d6d3c8;
	max-width: 1080px;
	margin: 0 auto;

}

.coffee-sabores {
	max-width: 80%;
	margin: 0 15%;
	display: flex;
	margin-top: 0.5%;

}

.cafe-paulista {
	max-width: 40%;
	margin-right: 40px;
}

.paulista {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: solid 5px #e9e5d9;
	background: #512400;
	box-shadow: 0 0 0 5px #512400;
	margin: 0 auto;


}

.cafe-paulista h2 {
	margin-top: 15px;
	display: block;
	left: 5%;
	font-size: 2.5em;
	height: 60px;
	text-align: center;
	color: #202020;

	
}

.paulista-texto {
	font-size: 1em;
	font-weight: normal;

}

/*------------------*/

.cafe-carioca {
	max-width: 40%;
	
}

.carioca {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: solid 5px #e9e5d9;
	background: #d97232;
	box-shadow: 0 0 0 5px #d97232;
	margin: 0 auto;


}

.cafe-carioca h2 {
	margin-top: 15px;
	display: block;
	left: 5%;
	font-size: 2.5em;
	height: 60px;
	text-align: center;
	color: #202020;

	
}

.carioca-texto  {
	font-size: 1em;
	font-weight: normal;


}

/*------------------*/

.cafe-mineiro {
	max-width: 40%;
	margin-left: 40px;
}

.mineiro {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: solid 5px #e9e5d9;
	background: #e8a744;
	box-shadow: 0 0 0 5px #e8a744;
	margin: 0 auto;


}

.cafe-mineiro h2 {
	margin-top: 15px;
	display: block;
	left: 5%;
	font-size: 2.5em;
	height: 60px;
	text-align: center;
	color: #202020;

	
}

.mineiro-texto  {
	font-size: 1em;
	font-weight: normal;


}


 #more {
	position: absolute;
	margin-top: 10%;
	left: 42%;
	border: solid 3px #202020;
	width: 180px;
	height: 50px;
	text-decoration: none;
	font-size: 1.125em;
	text-transform: uppercase;
	color: #202020;
}

#more:hover{
	background: #202020;
	color: #ffffff;

}

#filiais {
 max-width: 1100px;
 margin: 0 auto;
 background: #ffffff;
}

.botafogo {
	max-width: 40%;
	margin-left: 10%;
	display: content;
	padding-top: 100px;
	display: inline-flex;
}

.botafogo h2 {
	padding-left: 30px;
	font-size: 3em;
	
}

.botafogo p {
	padding-top: 15px;
	padding-left: 30px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	font-weight: normal;

}

.botafogo a {
	margin-left: 30px;
	border: solid 3px #202020;
	color: #202020;
	font-size: 1.125em;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: normal;


}



.botafogo a:hover{
	background: #202020;
	color: #ffffff;
	text-decoration: none;
}

/*--------------------------------*/


.iguatemi {
	max-width: 40%;
	margin-left: 10%;
	padding-top: 100px;
	display: flex;
}

.iguatemi h2 {
	padding-left: 30px;
	font-size: 3em;
	
}

.iguatemi p {
	padding-top: 15px;
	padding-left: 30px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	font-weight: normal;

}


.iguatemi a {
	margin-left: 30px;
	border: solid 3px #202020;
	color: #202020;
	font-size: 1.125em;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: normal;
}



.iguatemi a:hover{
	background: #202020;
	color: #ffffff;
	text-decoration: none;
}


/*-----------------------------------------*/


.mineirao {
	max-width: 40%;
	margin-left: 10%;
	padding-top: 100px;
	display: flex;
	padding-bottom: 100px;
}

.mineirao h2 {
	padding-top: 15px;
	font-size: 3em;
	padding-left: 30px;
}

.mineirao p {
	padding-top: 15px;
	padding-left: 30px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	font-weight: normal;


}


.mineirao a {
	margin-left: 30px;
	border: solid 3px #202020;
	color: #202020;
	font-size: 1.125em;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: normal;

}



.mineirao a:hover{
	background: #202020;
	color: #ffffff;
	text-decoration: none;
}

#news {
	max-width: 1100px;
	background: #e9e5d9;
	display: flex;
	margin: 0 auto;
	height: 20%;

}

.chame {
	margin-left: 10%;
	margin-top: 25px;
	padding-right: 50px;
}

.chame h2 {
	font-size: 2.25em;
}

.chame h3 {
	font-size: 1.5em;
	font-style: italic;
	font-weight: normal;
}

.form {
	display: flex;
	border: solid 3px #202020;
	margin-top: 35px;
	width: 300px;
	height: 30px;
	margin-left: 10%;
	

}
#email {
	border: none;
	width: 200px;
	text-align: start;
	font-size: 1.15em;
	font-style: italic;
	font-family: Georgia;
	padding-left: 3px;
	


}

.sender {
	display: none;
}

#newsletter  {
	background: #202020;
	color: #ffffff;
	border: none;
	text-transform: uppercase;
	width: 100px;

}


#newsletter:hover{
	background: #ffffff;
	border-left: solid 3px #202020;
	color: #202020;
	transition: 0.5s;
}


#footer {
	max-width: 1100px;
	height: 20%;
	margin: 0 auto;
	background: #d6d3c8;
}

.rodape {
	display: flex;
	position: relative;
	top: 30%;
	
}

.rodape p {
	margin-left: 10%;
	font-size: 1.125em;
	font-weight: lighter;
	color: #202020;

}

.rodape p a {
	text-decoration: none;
	color: #202020;

}

.rodape h2 {
	margin-left: 25.75%;
	margin-right: 5%;
	font-size: 3em;
	color: #ffffff;
	font-weight: bold;
	margin-top: -0.5%;
	font-family: Georgia;
}